<div class="container text-center">

  
    <h1 --bs-primary>Question </h1><br>
<%=params[:ask]%>
<br>
<h1 --bs-primary>Answer of the coach </h1><br>
<%=@answer%>
<br>
<a class="btn btn-primary" href="/ask" role="button" --bs-body-color>Retour</a></button>
<br>

</div>
